In [2]:
'''
@Author: Rashmi
@Date: 2021-10-6 9:16
@Last Modified by: Rashmi
@Last Modified time: 2021-10-6 9:18
@Title :Write a Python program to select the rows where the score is missing, i.e. is NaN.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
''' 
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)
print("given dataframe\n",df)
print("Rows where score is missing using null():") #to get null values
# print(df[df['score'].isnull()]) #score column null values
print(df.isnull()) # to print all bool values to get values null or not
#print(df.notnull())
print(df.isnull().sum())

given dataframe
         name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Rows where score is missing using null():
    name  score  attempts  qualify
0  False  False     False    False
1  False  False     False    False
2  False  False     False    False
3  False   True     False    False
4  False  False     False    False
5  False  False     False    False
6  False  False     False    False
7  False   True     False    False
8  False  False     False    False
9  False  False     False    False
name        0
score       2
attempts    0
qualify     0
dtype: int64